.game-content { 
    font-family: verdana,arial,helvetica,sans-serif;//background-color: #FFFFFF; color: #000000;
    background: url(../images/fond.jpg);
}
.cart-outline{ width: 70px; text-align: center; padding: 3px 5px; background: #FFF; }
.cart-outline.red{color: #cc0033;}
.cart-outline span { display: block;font-weight: bold; }
.cart-outline span.type{line-height: 1;}
.cart-outline .center{margin: 0;line-height: .7em;font-size: 2em}
.cart-outline .top{ text-align: left; }
.cart-outline .bottom{ text-align: right; }
.cart-outline.shadow{ box-shadow: 1px 1px 3px #000; -moz-box-shadow: 1px 1px 3px #000; -webkit-box-shadow: 1px 1px 3px #000; }
.cart-outline.rounded{ border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }

.poker-table{
    position: relative;
    display: block;
    width: 700px;
    height: 400px;
    border-radius: 200px;/* (height / 2) */
    width: 650px;
    height: 400px;
    border-radius: 250px;/* (height / 2) */
    background: rgb(39, 151, 176);

    -webkit-box-shadow: 0 1px 10px 1px rgba(0,0,0,0.87) inset, 0 5px 0 0 #6b5636,0 -5px 0 0 #6b5636 ;
    box-shadow: 0 1px 10px 1px rgba(0,0,0,0.87) inset, 0 5px 0 0 #6b5636,0 -5px 0 0 #6b5636 ;
    border-style: solid;
    border-color: #4c3f17;
    border-width: 7px;
    //border-top-width: 10px;
    //border-bottom-width: 8px;
    display: block;
    margin: 60px;

background: rgba(14,123,11,1);
background: -moz-linear-gradient(left, rgba(14,123,11,1) 0%, rgba(31,128,31,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(14,123,11,1)), color-stop(100%, rgba(31,128,31,1)));
background: -webkit-linear-gradient(left, rgba(14,123,11,1) 0%, rgba(31,128,31,1) 100%);
background: -o-linear-gradient(left, rgba(14,123,11,1) 0%, rgba(31,128,31,1) 100%);
background: -ms-linear-gradient(left, rgba(14,123,11,1) 0%, rgba(31,128,31,1) 100%);
background: linear-gradient(to right, rgba(14,123,11,1) 0%, rgba(31,128,31,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e7b0b', endColorstr='#1f801f', GradientType=1 );
}
.player{
    position: absolute;
    z-index: 2;
    cursor: pointer;
}
.player .profil{
    width: 120px;
    height: 50px;
    background: rgba(0, 0, 0, 0.84);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border:1px solid #999999;
    box-shadow: 0 0 9px 
}
.player .profil .avatar{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: black;
    margin: -5px 0 0 -25px;
    border:1px solid #999999;
    float: left;
}
.player .profil p{
    text-align: center;
}
.player .profil .name{
    margin-top: 3px;
    margin-bottom: 0;
    color: #00e5ff
}
.player .profil .price{
    color: #d2d2d2
}
.position-1{
   left: 500px
}

.position-2{
    left: 710px;
    top: 90px
}
.position-3{
    left: 760px;
    top: 230px
}
.position-4{
    left: 710px;
    top: 380px
}
.position-5{
    left: 500px;
    top: 470px
}
.position-6{
    left: 220px;
    top: 470px
}
.position-7{
    left: 0;
    top: 380px
}
.position-8{
    left: -50px;
    top: 230px
}
.position-9{
    left: 0;
    top: 90px
}
.position-10{
    left: 220px;
}
.table-content{
    border: 1px solid white;
    margin: 0 auto;
    display: table;
    position: relative;
}

.card-back{
    width: 70px;
    height: 97px;
    border: 1px solid #ddd;
    border-radius: 6px;
    position: absolute;
    background-color: white;
    background-image: url('../images/card.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    text-align: center;

    /*all transition to take 1s */
    transition:all 1s;
    -ms-transition:all 1s;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;

    /*set card transform origin to 20% from x-axis and 80% from y-axis */
    transform-origin: 20% 80%;
    -ms-transform-origin: 20% 80%;
    -webikit-transform-origin: 20% 80%;
    -moz-transform-origin: 20% 80%;

    /*make card non selectable*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.capo{
    float: none;
    margin: 5px auto;
    display: block;
    padding: 1px;
    width: 70px;
    height: 97px;
}