<div class="col-xs-12">
	<div class="game-content" game-content>
		<div class="table-content">
			<div class="poker-table">
				<div class="capo" capo>
					<!-- single card -->
					<div class='card-back'>
						<span data-value='A' data-title='A ♣'></span>
					</div>
					<div class='card-back'>
						<span data-value='A' data-title='A ♣'></span>
					</div>
					<div class='card-back'>
						<span data-value='A' data-title='A ♣'></span>
					</div>
					<div class='card-back'>
						<span data-value='A' data-title='A ♣'></span>
					</div>
					<div class='card-back'>
						<span data-value='A' data-title='A ♣'></span>
					</div>
					<div class='card-back'>
						<span data-value='A' data-title='A ♣'></span>
					</div>
					<div class='card-back'>
						<span data-value='A' data-title='A ♣'></span>
					</div>
					<div class='card-back'>
						<span data-value='A' data-title='A ♣'></span>
					</div>
					<div class='card-back'>
						<span data-value='A' data-title='A ♣'></span>
					</div>
					<div class='card-back'>
						<span data-value='A' data-title='A ♣'></span>
					</div>

				</div>
				<button ng-click="shareCard()" class="btn btn-primary btn-round">share</button>
			</div>

		</div>
		<!-- cart -->
		<div class="cart-outline shadow rounded red">
			<div class="top">
				<span>A</span>
				<span class="type">&hearts;</span>
			</div>
			<h1 class="center">&hearts;</h1>
			<div class="bottom">
				<span class="type">&hearts;</span>
				<span>A</span>
			</div>
		</div>
		<!-- /cart -->
	</div>
</div>