<div class="before-footer" >
	<div class="container">
		<ul class="footer-socials list-inline pull-right">
			<li><h3>Retrouvez-nous sur</h3></li>
			<li>
				<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
					<i class="fa fa-facebook"></i>
				</a>
			</li>
			<li>
				<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
					<i class="fa fa-skype"></i>
				</a>
			</li>
			<li>
				<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
					<i class="fa fa-google-plus"></i>
				</a>
			</li>
			<li>
				<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
					<i class="fa fa-linkedin"></i>
				</a>
			</li>
			<li>
				<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
					<i class="fa fa-pinterest"></i>
				</a>
			</li>
			<li>
				<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
					<i class="fa fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
					<i class="fa fa-dribbble"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-3">
				<img src="images/poker.png" alt="Logo" class="logo">
				<!--<h4 class="orange" style="display:inline-block">Orange</h4>-->
				<ul>
					<li><a href="#">Découvrir orange</a></li>
					<li><a href="#">Partenariat</a></li>
					<li><a href="#">Orange scool</a></li>
					<li><a href="#">RSE</a></li>
					<li><a href="#">Mécénat</a></li>
					<li><a href="#">Contacts</a></li>
				</ul>
			</div>
			<div class="col-xs-6 col-sm-3">
				<h4 class="orange">Actualité</h4>
				<ul>
					<li><a href="#">Madagascar</a></li>
					<li><a href="#">Région</a></li>
					<li><a href="#">Focus</a></li>
					<li><a href="#">Vidéo</a></li>
					<li><a href="#">Communiquer de presse</a></li>
					<li><a href="#">Dépêches</a></li>
				</ul>
			</div>

			<div class="col-xs-6 col-sm-3">
				<h4 class="orange">Pratique</h4>
				<ul>
					<li><a href="#">Météo</a></li>
					<li><a href="#">Cours de change</a></li>
					<li><a href="#">Horoscope</a></li>
					<li><a href="#">Petites annonces</a></li>
				</ul>
			</div>

			<div class="col-xs-12 col-sm-3">
				<h4 class="orange line-sm">NEWSLETTER</h4>
				<div class="input-group margin-bottom-50" style="margin-top:30px">
					<input class="form-control" type="email" placeholder="Votre E-mail">
					<div class="input-group-btn">
						<button type="button" class="btn-u input-btn">Ok</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<div id="footer-foot">
	<div class="container">
	<ul>
		<li><a href="#">Mention légales</a></li>
		<li><a href="#">Contactez un conseil client</a></li>
		<li><a href="#">Charte de déontologie</a></li>
		<li><a href="#">Emploi</a></li>
		<li><a href="#">Condition Orange Money</a></li>
		<li><a href="#">Conditions générales d'abonnement</a></li>
	</ul>
	</div>
</div>